.main__body {
    overflow: hidden;
    background: var(--main-bg);
}

.login__container {
    height: 90vh;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login__container h1 {
    font-size: clamp(3rem, 8vh - 3rem, 5rem);
}

.login__container--box {
    width: 50rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.bg--image {
    width: 50rem;
    position: absolute;
    right: 35%;
    animation: rotating-disk 100s infinite;
}

.login__form--container {
    width: 75%;
    padding: 2rem;
    border-radius: 1.875rem;
    box-shadow: var(--box-shadow);
    background: white;
    border: 1px solid var(--primary-color);
    overflow: hidden;
    position: relative;
}

.input__container input,
.login__form--container--box>* {
    margin-bottom: 2rem;
}

.input__container label {
    font-size: 1.5rem;
}

.login__form--container .main--btn {
    font-size: 2rem;
    margin: auto;
    width: 75%;
    margin-bottom: 1rem;
}

.secondary--action {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.secondary--action>* {
    display: inline;
    font-size: 1.5rem;
}

.secondary--action .btn__underlined:hover {
    border-bottom: 2px solid var(--primary-color);
}

@keyframes rotating-disk {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media (max-width: 400px) {
    .bg--image {
        width: 20rem;
        position: absolute;
        left: 45%;
        top: -20%;
    }
}