.product-list__container {
    height: 90vh;
    display: grid;
    grid-template-columns: 25rem 1fr;
}

.filter__section {
    padding: 1rem;
    position: sticky;
    top: 0;
}

.product-list {
    padding: 1.5rem;
}

.filter--box {
    display: flex;
    flex-direction: column;
    border-radius: 1.6rem;
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: white;
    position: relative;
    border: 1px solid var(--border-color);
    box-shadow: var(---box-shadow--card);
}

.filter--box h1 {
    font-size: 2.5rem;
    color: var(--primary-color);
    margin-bottom: 1rem;
}

.category--label {
    margin-left: 1rem;
}

.category--input:hover,
.category--label:hover {
    color: var(--primary-color);
    cursor: pointer;
}

.filter--header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slider__label--container label {
    font-size: 1.5rem;
}

.filter--box form {
    font-size: 1.75rem;
}

.filter__container {
    margin-bottom: 1rem;
}

.filter--reset {
    font-size: 1.2rem;
    cursor: pointer;
}

.filter--title {
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: 600;
}

.pricing--container span {
    display: block;
    font-size: 1.5rem;
    cursor: pointer;
}

.pricing--container span:hover {
    color: var(--primary-color);
}


/*----------Product list-----------------------------------------*/

.product-list__section {
    padding: 1.5rem;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
}

.product-list__section .vertical .card__product--details {
    flex-direction: column;
}

.product-list__section .vertical .img {
    height: 15rem;
    width: 100%;
}

.product-list__section .card__btn--container .btn {
    padding: 0.5rem 1.5rem;
}